<div class="single_testmonial text-center">
  <div class="quote">
    <img src="{{ base_path ~ directory }}/images/quote.svg"/>
    <p>{{ elements.field_content }}</p>
    <div class="testmonial_author">
      <div class="thumb">
        {{ elements.field_profile_image }}
      </div>
      <h3>{{ elements.field_author_name }}</h3>
      <span>{{ elements.field_author_title }}</span>
    </div>
  </div>
</div>
